html {
    max-width: 88%;
    overflow-x: hidden;
    background-image: url("../images/Background.jpg");
    background-attachment: fixed;
    left: 0px;
    margin: auto;
}

body {
    overflow-x: hidden;
    background: rgba(255, 255, 255, 1);
    left: 0px;
    margin: auto;
}

#header {
  font-size: 30px;
}

.results {
  font-size: 16px;
  padding-left: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 113px;
  width: 170px;
  cursor:  pointer;
  border: 3px solid #000000;
}

.filterRow {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  flex-wrap:  wrap;
}

.filterRow::after {
  content: "";
  clear: both;
  display: table;
}

.filterColumn {
  flex: 20%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
}

.filterColumn input {
  width: 90%;
  font-size: 16px;
  vertical-align: middle;
}

.filterColumn button {
  font-size: 16px;
  margin: auto;
  left: 0px;
  vertical-align: middle;
}

#clearAll {
  font-size: 16px;
  text-align: center;
}

/* On screens that are 1280px wide or less, go from two rows to four rows */
@media screen and (max-width: 1280px) {
  .filterColumn {
    flex: 33.33%;
  }
}

/* On screens that are 720px wide or less, go from four rows to eight rows */
@media screen and (max-width: 720px) {
  .filterColumn {
    flex: 50%;
  }
}

.paginationSort {
  display: flex;
  position:  relative;
  margin: 50px auto;
  bottom:  25px;
  font-size: 16px;
  text-align: center;
}

.pagination {
  display: flex;
  margin: auto;
  right: 100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin-bottom: 100px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}