html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img {
	margin-top: 8px;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 127px;
  width: 192px;
}

.searchRow {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
}

.searchRow::after {
  content: "";
  clear: both;
  display: table;
}

.column input {
  width: 90%;
}

.pagination {
  display: flex;
  position:  relative;
  margin: 50px auto;
  bottom:  25px;
  text-align: center;
}

.paginationLabel {
  display: block;
  position:  relative;
  text-align: center;
  top: 43px;
  right: 45px;
}
