.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: left;
}

.headerRow {
  display: flex;
  max-width: 70%;
}

.headerColumn {
  flex: 33.33%;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Clearfix (clear floats) */
.headerRow::after {
  content: "";
  clear: both;
  display: table;
}

.column img {
	margin-top: 8px;
  	vertical-align: middle;
    display: block;
    object-fit:  cover;
    max-width: 70%;
    height: auto
}

.headerColumn a {
  padding: 8px 16px;
  display: table;
  background-color: #f1f1f1;
  color: black;
  max-width: 70%;
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

.back {
  padding: 8px 16px;
  display: table;
  margin-top: 10px;
  background-color: #f1f1f1;
  color: black;
}
